* {

    margin: 0;
    padding: 0;

}














/*  ---------- FORMULAIRE RECHERCHE ---------- */

.formulaire-recherche {

    margin: 40px 0px;
    box-shadow: 1px 1px 0px 1px rgba(153, 153, 153, 0.678);

}

.titre-formulaire {

    text-align: center;
    margin-bottom: 20px;

}

.titre-formulaire::after {

    display: block;
    height: 2px;
    background-color: #0c7b93;
    width: 100px;
    content:" ";
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;

}

.form-space {

    margin: 10px 0;
    width: 100%;

}

label .nb-voyageur {

    margin-left: 65px;

}

button {

    background: linear-gradient(0deg, rgba(12,123,147,1) 0%, rgba(20,40,80,1) 120%);
    border-radius: 10px;
    
    box-shadow:1px 1px 3px #999;
    text-align: center;
    color: #fff;

}




.btn-recherche {

    width: 100%;
    margin: 10px 0px;
    padding: 5px 20px;
    
}


/*  ---------- CARTE DE SERVICES ---------- */

.carte-services {

    
    margin: 40px 30px;

}


.card-head img {

    width: 100%;
    border-radius: 2px;
    

}

.card {

    margin-bottom: 10px;

}

.card-body {

    text-align: center;

}


.card-body a {

    
    background-color: #0c7b93 ;
    border-radius: 10px;
    border: none;
    text-decoration:none;
    color: #000;
    
    

}


.btn-card {

    padding: 5px 20px;

}


/*  ---------- LES INCONTOURNABLES ---------- */


.titre-incon{

    text-align: center;

}

.titre-incon::after{

    display: block;
    height: 2px;
    background-color: #0c7b93;
    width: 100px;
    content:" ";
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;

}

.incon {

    margin: 10px 0;
    box-shadow: 1px 1px 3px #999;
    border-radius: 10px;
    padding: 0 0 10px 0;
    width: 100%;
    

}

.img-incon img {

    width: 100%;
    border-radius: 10px;

}

.incon h5 {

    margin-top: 10px;
    text-align: center;

}

.incon p {

    padding: 0 8px;
    text-align: center;
    font-size: 15px;

}

/*  ---------- RESERVATION 2 ---------- */

/*  ---------- BANDEAU INFOS ---------- */

.headerbis {

    background-color: #27496d;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    
}

.bandeauinfo {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    

}

.bandeauinfo div {

    margin: 10px;

}

.btn-bdo {

    padding: 10px 50px;
    color: #fff;

}



/*  ---------- LES PROPOSITIONS ---------- */

.filtres {

    display: flex;
    justify-content: center;
    align-items:baseline;
    margin-top:20px;

}

.ligne1 {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: -1px 1px 1px 1px #0c7b93;
    
    
    
}

.infos-trajet {

    
    display: flex;
    text-transform: uppercase;
    width: 100%;
    text-decoration: none;
    color: #000;
    

}

.heure {

    margin: 5px 10px;

}

.arret {

    margin: 5px 10px;

}

.sous-infos {

    font-style: italic;
    color: #818181;

}

.tarif {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 50px;
    padding-top: 15px;
    box-shadow: 1px -1px 1px 1px #0c7b93;
    

}

.tarif p {

    color: #000;

}


/*  ---------- OPTIONS ---------- */

.options {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.options button {

    padding: 10px 60px;
    margin-left: 10px;
    color: #fff;

}

.card ul li {

    list-style-type: disc;


}

/*  ---------- BOUTON TARIFS ---------- */

.btn-tarifs {

    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px 60px;

}

.btn-tarifs button {

    padding: 15px 40px;
    color: #fff;
}




/*  ---------- LE SAVIEZ VOUS ---------- */
.card {

    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(221, 240, 255);
    
}

.card button {

    padding: 10px 500px;

}

.btn-asavoir {
    
    font-size: 15px;
    
}
.card-header{

    padding: 0;
    margin: 10px;
}

.card-header-asavoir button {

    padding: 15px 60px;
    color: #fff;
}


.card-asavoir {

    text-align: center;
    padding: 5px;

}



@media (min-width:650px) {

    

    button:hover {

        background: linear-gradient(0deg, rgb(147, 12, 12) 0%, rgba(20,40,80,1) 100%);
        transform: scale(1.01);
        transition: 500ms;
        
    
    }

/*  ---------- LES PROPOSITIONS ---------- */

.ligne1 {

    flex-wrap: nowrap;
    box-shadow: none;
    
}

.ligne1:hover {

    transform: scale(1.05);
    transition: 1s;
    
    
}

.infos-trajet {

    
    margin-left: 10px;
    box-shadow: -1px 1px 2px 1px #0c7b93;
    width: 400px;
}


.tarif {

    width: 200px;
    margin: 0px 10px 0px 0px;

}

}

@media (min-width:990px) {

    .img-incon {

        overflow: hidden;
    
    }
    
    .img-incon img {
    
        transition: 2s;
    
    }
    
    
    .img-incon img:hover{
    
        transform: scale(1.2);
        
    
    }

    .incon .content {

        position:absolute;
        top: 15px;
        left: 20px;
        bottom:70px;
        right: 20px;
        background: rgba(0,0,0,0.8);
        transform: scaleY(0);
        transition: transform 1s;
    }

    .incon:hover .content {

        transform: scaleY(1);

    }

    .incon .content p {

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: #fff;

    }

}


@media (min-width:1000px) {

    .infos-trajet {

    
        
        width: 800px;
    }

}